body, html, div, h1, h2, h3, h4, button, a, p, span {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-shadow: inherit;
}

p {
  margin: 0;
  padding: 15px;
}

#canvas {
  border: 1px solid black;
  margin: 0 auto;
  display: block;
}

body {
  padding: 0;
  margin: 0;
  max-height: 100%;
  height: 96vh;
  font-family: 'Righteous', cursive;
}

.welcome-screen {
  position: absolute;
  margin: 80px auto;
  left: 0;
  color: white;
  top: 0;
  right: 0;
  width: 255px;
  height: 400px;
  text-align: center;
  bottom: 0;
}

.welcome-screen h1 {
  font-size: 46px;
  font-weight: normal;
  text-align: center;
}

.instructions {
  -webkit-box-shadow: inset 1px 0px 6px 4px rgba(60,240,240,0.73);
  -moz-box-shadow: inset 1px 0px 6px 4px rgba(60,240,240,0.73);
  box-shadow: inset 1px 0px 6px 4px rgba(60,240,240,0.73);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.instructions div {
  background: rgba(60,240,240,0.73);
  color: white;
  font-size: 20px;
  padding: 6px;
}

.play {
  -webkit-box-shadow: inset 1px 0px 6px 4px rgba(60,240,240,0.73);
  -moz-box-shadow: inset 1px 0px 6px 4px rgba(60,240,240,0.73);
  box-shadow: inset 1px 0px 6px 4px rgba(60,240,240,0.73);
  padding: 10px 30px;
  background: transparent;
  border: none;
  font-size: 32px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 500ms;
}

.play:hover {
  -webkit-box-shadow: inset 1px 0px 6px 4px rgba(27, 115, 145,0.73);
  -moz-box-shadow: inset 1px 0px 6px 4px rgba(27, 115, 145,0.73);
  box-shadow: inset 1px 0px 6px 6px rgba(27, 115, 145,0.73);
}

.play:focus{
  outline: none;
}

.info {
  position: absolute;
  bottom: 5px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: 310px;
  color: white;
  font-size: 32px;
}

.fa-volume-off {
  font-size: 40px;
}

.fa {
  cursor: pointer;
}

.tools i:first-child {
  padding-right: 10px;
}

.lost-message{
  display: inline-block;
  margin-bottom: 10px;
}

.wave{
  color: rgba(60,240,240,0.73);
  text-shadow:  -1px -1px 7px rgba(5, 188, 255, 1);
  font-size: 80px;
  position: absolute;
  right: 30%;
  top: 40%;
  visibility: hidden;
  opacity: 1;
  transition: right 3s linear, opacity 3s cubic-bezier(0.86, 0.52, 1, 1.84);
}

.wave.hovered {
  right: 60%;
  visibility: visible;
  opacity: 0;
}

.game-over > span{
  display: block;
  margin-bottom: 10px;
}

footer {
  display: flex;
  width: 90%;
  justify-content: space-around;
  position: absolute;
  color: white;
  bottom: 100px;
  margin: auto;
  right: 0;
  left: 0;
  font-size: 20px;
  align-items: center;
}

footer ul {
  display: flex;
}

footer ul > a {
  padding: 15px;
  font-size: 36px;
}

.small-title {
  margin-right: 90px;
}
